In [1]:
# 导入pandas 模块并将其加以别名 'pd'

In [2]:
import pandas as pd

# 新增列

In [3]:
df1 = pd.read_csv('./data/beijing_tianqi_2018.csv')
df1

            ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0    2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1    2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2    2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3    2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4    2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1
..          ...    ...    ...    ...       ...    ...  ...     ...       ...
360  2018-12-27    -5℃   -12℃   多云~晴       西北风     3级   48       优         1
361  2018-12-28    -3℃   -11℃      晴       西北风     3级   40       优         1
362  2018-12-29    -3℃   -12℃      晴       西北风     2级   29       优         1
363  2018-12-30    -2℃   -11℃   晴~多云       东北风     1级   31       优         1
364  2018-12-31    -2℃   -10℃     多云       东北风     1级   56       良         2

[365 rows x 9 columns]

In [4]:
# 新建一个最高温通过（类似字符串）replace替换℃同时转换将数据类型转换成'int32'并将转化过的'bWendu'数值赋值给'最高温'

In [5]:
 df1['最高温'] = df1['bWendu'].str.replace('℃','').astype('int32')

In [6]:
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温
0,2018-01-01,3℃,-6℃,晴~多云,东北风,1-2级,59,良,2,3
1,2018-01-02,2℃,-5℃,阴~多云,东北风,1-2级,49,优,1,2
2,2018-01-03,2℃,-5℃,多云,北风,1-2级,28,优,1,2
3,2018-01-04,0℃,-8℃,阴,东北风,1-2级,28,优,1,0
4,2018-01-05,3℃,-6℃,多云~晴,西北风,1-2级,50,优,1,3
...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5℃,-12℃,多云~晴,西北风,3级,48,优,1,-5
361,2018-12-28,-3℃,-11℃,晴,西北风,3级,40,优,1,-3
362,2018-12-29,-3℃,-12℃,晴,西北风,2级,29,优,1,-3
363,2018-12-30,-2℃,-11℃,晴~多云,东北风,1级,31,优,1,-2
364,2018-12-31,-2℃,-10℃,多云,东北风,1级,56,良,2,-2

In [7]:
# 新建一个最低温通过（类似字符串）replace替换℃同时转换将数据类型转换成'int32'，这里的str只是针对于Series

In [8]:
df1['最低温'] = df1['yWendu'].str.replace('℃','').astype('int32')

In [9]:
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温
0,2018-01-01,3℃,-6℃,晴~多云,东北风,1-2级,59,良,2,3,-6
1,2018-01-02,2℃,-5℃,阴~多云,东北风,1-2级,49,优,1,2,-5
2,2018-01-03,2℃,-5℃,多云,北风,1-2级,28,优,1,2,-5
3,2018-01-04,0℃,-8℃,阴,东北风,1-2级,28,优,1,0,-8
4,2018-01-05,3℃,-6℃,多云~晴,西北风,1-2级,50,优,1,3,-6
...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5℃,-12℃,多云~晴,西北风,3级,48,优,1,-5,-12
361,2018-12-28,-3℃,-11℃,晴,西北风,3级,40,优,1,-3,-11
362,2018-12-29,-3℃,-12℃,晴,西北风,2级,29,优,1,-3,-12
363,2018-12-30,-2℃,-11℃,晴~多云,东北风,1级,31,优,1,-2,-11
364,2018-12-31,-2℃,-10℃,多云,东北风,1级,56,良,2,-2,-10

In [10]:
# 温差就等于df1中的['最高温'] - df1中的['最低温']

In [11]:
df1['温差'] = df1['最高温'] - df1['最低温']

In [12]:
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差
0,2018-01-01,3℃,-6℃,晴~多云,东北风,1-2级,59,良,2,3,-6,9
1,2018-01-02,2℃,-5℃,阴~多云,东北风,1-2级,49,优,1,2,-5,7
2,2018-01-03,2℃,-5℃,多云,北风,1-2级,28,优,1,2,-5,7
3,2018-01-04,0℃,-8℃,阴,东北风,1-2级,28,优,1,0,-8,8
4,2018-01-05,3℃,-6℃,多云~晴,西北风,1-2级,50,优,1,3,-6,9
...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5℃,-12℃,多云~晴,西北风,3级,48,优,1,-5,-12,7
361,2018-12-28,-3℃,-11℃,晴,西北风,3级,40,优,1,-3,-11,8
362,2018-12-29,-3℃,-12℃,晴,西北风,2级,29,优,1,-3,-12,9
363,2018-12-30,-2℃,-11℃,晴~多云,东北风,1级,31,优,1,-2,-11,9
364,2018-12-31,-2℃,-10℃,多云,东北风,1级,56,良,2,-2,-10,8

In [13]:
# 新建数据温度类型

In [14]:
df1['温度类型'] = '0'
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型
0,2018-01-01,3℃,-6℃,晴~多云,东北风,1-2级,59,良,2,3,-6,9,0
1,2018-01-02,2℃,-5℃,阴~多云,东北风,1-2级,49,优,1,2,-5,7,0
2,2018-01-03,2℃,-5℃,多云,北风,1-2级,28,优,1,2,-5,7,0
3,2018-01-04,0℃,-8℃,阴,东北风,1-2级,28,优,1,0,-8,8,0
4,2018-01-05,3℃,-6℃,多云~晴,西北风,1-2级,50,优,1,3,-6,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5℃,-12℃,多云~晴,西北风,3级,48,优,1,-5,-12,7,0
361,2018-12-28,-3℃,-11℃,晴,西北风,3级,40,优,1,-3,-11,8,0
362,2018-12-29,-3℃,-12℃,晴,西北风,2级,29,优,1,-3,-12,9,0
363,2018-12-30,-2℃,-11℃,晴~多云,东北风,1级,31,优,1,-2,-11,9,0
364,2018-12-31,-2℃,-10℃,多云,东北风,1级,56,良,2,-2,-10,8,0

In [15]:
# 新建['bWendu']替换旧的['bWendu']，旧的['bWendu']通过replace方法进行替换替换掉'℃'把值给到新的['bWendu']同时转换数据类型为'int32'

In [16]:
# df1.loc['bWendu'] = df1['bWendu'].str.replace('℃','').astype('int32')
# df1

In [17]:
df1['bWendu'] = df1['bWendu'].str.replace('℃','').astype('int32')
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型
0,2018-01-01,3,-6℃,晴~多云,东北风,1-2级,59,良,2,3,-6,9,0
1,2018-01-02,2,-5℃,阴~多云,东北风,1-2级,49,优,1,2,-5,7,0
2,2018-01-03,2,-5℃,多云,北风,1-2级,28,优,1,2,-5,7,0
3,2018-01-04,0,-8℃,阴,东北风,1-2级,28,优,1,0,-8,8,0
4,2018-01-05,3,-6℃,多云~晴,西北风,1-2级,50,优,1,3,-6,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12℃,多云~晴,西北风,3级,48,优,1,-5,-12,7,0
361,2018-12-28,-3,-11℃,晴,西北风,3级,40,优,1,-3,-11,8,0
362,2018-12-29,-3,-12℃,晴,西北风,2级,29,优,1,-3,-12,9,0
363,2018-12-30,-2,-11℃,晴~多云,东北风,1级,31,优,1,-2,-11,9,0
364,2018-12-31,-2,-10℃,多云,东北风,1级,56,良,2,-2,-10,8,0

In [18]:
df1['yWendu'] = df1['yWendu'].str.replace('℃','').astype('int32')
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,0
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,0
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,0
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,0
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,-5,-12,7,0
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,-3,-11,8,0
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,-3,-12,9,0
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,-2,-11,9,0
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,-2,-10,8,0

In [19]:
# 创建温度类型函数

In [20]:
def get_wendu_type(x):
    if x['bWendu'] > 33:
        return '高温'
    if x['yWendu'] < -10:
        return '低温'
    return'常温'

In [21]:
# 必须指出 axis（轴）的方向

In [22]:
df1['温度类型'] = df1.apply(get_wendu_type,axis = 1) 
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,常温
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,常温
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,-5,-12,7,低温
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,-3,-11,8,低温
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,-3,-12,9,低温
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,-2,-11,9,低温
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,-2,-10,8,常温

assign方法

In [23]:
# 通过assign 可以同时添加多个列

In [24]:
df1.assign(
    # 从摄氏度变成华氏度
    yWendu_huashi = lambda x:x["yWendu"]*9 /5 +32,
    bWendu_huashi = lambda x:x["bWendu"]*9 /5 +32
)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,yWendu_huashi,bWendu_huashi
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温,21.2,37.4
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温,23.0,35.6
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温,23.0,35.6
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,常温,17.6,32.0
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,常温,21.2,37.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,-5,-12,7,低温,10.4,23.0
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,-3,-11,8,低温,12.2,26.6
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,-3,-12,9,低温,10.4,26.6
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,-2,-11,9,低温,12.2,28.4
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,-2,-10,8,常温,14.0,28.4

In [25]:
# 多个新增列之间需要用逗号隔开

In [26]:
df1.assign(
    hello = 'okok',
    good = '11111'
)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,hello,good
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温,okok,11111
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温,okok,11111
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温,okok,11111
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,常温,okok,11111
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,常温,okok,11111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,-5,-12,7,低温,okok,11111
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,-3,-11,8,低温,okok,11111
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,-3,-12,9,低温,okok,11111
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,-2,-11,9,低温,okok,11111
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,-2,-10,8,常温,okok,11111

In [27]:
# 把一个随机的数值赋给price列的所有值

In [28]:
import random as rd
df1.assign(
    price = rd.randint(0,9)
)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,price
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温,8
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温,8
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温,8
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,常温,8
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,常温,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,-5,-12,7,低温,8
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,-3,-11,8,低温,8
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,-3,-12,9,低温,8
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,-2,-11,9,低温,8
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,-2,-10,8,常温,8

In [29]:
# 创建新的信息'温差类型'

In [30]:
df1['温差类型'] = 1
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,温差类型
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温,1
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温,1
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温,1
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,常温,1
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,常温,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,-5,-12,7,低温,1
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,-3,-11,8,低温,1
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,-3,-12,9,低温,1
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,-2,-11,9,低温,1
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,-2,-10,8,常温,1

# 分组形式新增列

In [31]:
df1.loc[df1['温差'] > 10,'温差类型'] = '温差大'

In [32]:
df1.loc[df1['温差'] < 10,'温差类型'] = '温差正常'

In [33]:
df1

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,温差类型
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温,温差正常
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温,温差正常
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温,温差正常
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,常温,温差正常
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,常温,温差正常
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,-5,-12,7,低温,温差正常
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,-3,-11,8,低温,温差正常
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,-3,-12,9,低温,温差正常
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,-2,-11,9,低温,温差正常
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,-2,-10,8,常温,温差正常

# 汇总类统计

In [34]:
df1.describe()

,bWendu,yWendu,aqi,aqiLevel,最高温,最低温,温差
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,18.665753,8.358904,82.183562,2.090411,18.665753,8.358904,10.306849
std,11.858046,11.755053,51.936159,1.029798,11.858046,11.755053,2.781233
min,-5.000000,-12.000000,21.000000,1.000000,-5.000000,-12.000000,2.000000
25%,8.000000,-3.000000,46.000000,1.000000,8.000000,-3.000000,8.000000
50%,21.000000,8.000000,69.000000,2.000000,21.000000,8.000000,10.000000
75%,29.000000,19.000000,104.000000,3.000000,29.000000,19.000000,12.000000
max,38.000000,27.000000,387.000000,6.000000,38.000000,27.000000,18.000000

In [35]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ymd        365 non-null    object
 1   bWendu     365 non-null    int32
 2   yWendu     365 non-null    int32
 3   tianqi     365 non-null    object
 4   fengxiang  365 non-null    object
 5   fengli     365 non-null    object
 6   aqi        365 non-null    int64
 7   aqiInfo    365 non-null    object
 8   aqiLevel   365 non-null    int64
 9   最高温        365 non-null    int32
 10  最低温        365 non-null    int32
 11  温差         365 non-null    int32
 12  温度类型       365 non-null    object
 13  温差类型       365 non-null    object
dtypes: int32(5), int64(2), object(7)
memory usage: 32.9+ KB

In [36]:
df1['最高温'].max()

38

In [37]:
df1['最高温'].min()

-5

In [38]:
df1['最高温'].mean()

18.665753424657535

# 去重及统计值的数量

In [39]:
# 种类（去重）

In [40]:
df1['fengxiang'].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

In [41]:
# 统计出现次数

In [42]:
df1['fengxiang'].value_counts()

南风     92
西南风    64
北风     54
西北风    51
东南风    46
东北风    38
东风     14
西风      6
Name: fengxiang, dtype: int64

# 协方差及相关系数

In [43]:
# 协方差：衡量同向反向程度，如果协方差为正，说明x,y同向变化，协方差越大说明同向程度越高；如过协方差为负，说明x,y反向运动，协防差越小说明反向程度越高

In [44]:
df1.cov()

,bWendu,yWendu,aqi,aqiLevel,最高温,最低温,温差
bWendu,140.613247,135.529633,47.462622,0.879204,140.613247,135.529633,5.083614
yWendu,135.529633,138.181274,16.186685,0.264165,135.529633,138.181274,-2.651641
aqi,47.462622,16.186685,2697.364564,50.749842,47.462622,16.186685,31.275937
aqiLevel,0.879204,0.264165,50.749842,1.060485,0.879204,0.264165,0.615038
最高温,140.613247,135.529633,47.462622,0.879204,140.613247,135.529633,5.083614
最低温,135.529633,138.181274,16.186685,0.264165,135.529633,138.181274,-2.651641
温差,5.083614,-2.651641,31.275937,0.615038,5.083614,-2.651641,7.735255

In [45]:
# 相关系数：衡量相似程度，当他们的相关系数为1时，说明两个变量变化时的正相似度最大，当相关系数为-1是，说明两个变量变化的反向相似度最大

In [46]:
df1.corr()

            bWendu    yWendu       aqi  aqiLevel       最高温       最低温        温差
bWendu    1.000000  0.972292  0.077067  0.071999  1.000000  0.972292  0.154142
yWendu    0.972292  1.000000  0.026513  0.021822  0.972292  1.000000 -0.081106
aqi       0.077067  0.026513  1.000000  0.948883  0.077067  0.026513  0.216523
aqiLevel  0.071999  0.021822  0.948883  1.000000  0.071999  0.021822  0.214740
最高温       1.000000  0.972292  0.077067  0.071999  1.000000  0.972292  0.154142
最低温       0.972292  1.000000  0.026513  0.021822  0.972292  1.000000 -0.081106
温差        0.154142 -0.081106  0.216523  0.214740  0.154142 -0.081106  1.000000

In [47]:
# 两个数据直接进行查看相关系数

In [48]:
df1["aqi"].corr(df1["yWendu"])

0.02651328267296889

In [149]:
df1.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,温差类型
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温,温差正常
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温,温差正常
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温,温差正常
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,常温,温差正常
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,常温,温差正常

In [50]:
# 判断是不是数字

In [51]:
# 判断是不是数字判断数字时只能是判断看着是数，类型不一定是数的字符或者字符串才会返回为真，为了方便看可以选择去重df1[''] = .str.isnumeric().unique()

In [52]:
df1['fengli'].str.isnumeric()

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Name: fengli, Length: 365, dtype: bool

In [53]:
# 测试长度

In [54]:
df1['fengli'].str.len()

0      4
1      4
2      4
3      4
4      4
      ..
360    2
361    2
362    2
363    2
364    2
Name: fengli, Length: 365, dtype: int64

In [55]:
# 时间查询从什么时间开始查询

In [56]:
df1['ymd'].str.startswith('2018-03')

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Name: ymd, Length: 365, dtype: bool

In [57]:
df1[df1['ymd'].str.startswith('2018-03')]

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,温差类型
59,2018-03-01,8,-3,多云,西南风,1-2级,46,优,1,8,-3,11,常温,温差大
60,2018-03-02,9,-1,晴~多云,北风,1-2级,95,良,2,9,-1,10,常温,1
61,2018-03-03,13,3,多云~阴,北风,1-2级,214,重度污染,5,13,3,10,常温,1
62,2018-03-04,7,-2,阴~多云,东南风,1-2级,144,轻度污染,3,7,-2,9,常温,温差正常
63,2018-03-05,8,-3,晴,南风,1-2级,94,良,2,8,-3,11,常温,温差大
64,2018-03-06,6,-3,多云~阴,东南风,3-4级,67,良,2,6,-3,9,常温,温差正常
65,2018-03-07,6,-2,阴~多云,北风,1-2级,65,良,2,6,-2,8,常温,温差正常
66,2018-03-08,8,-4,晴,东北风,1-2级,62,良,2,8,-4,12,常温,温差大
67,2018-03-09,10,-2,多云,西南风,1-2级,132,轻度污染,3,10,-2,12,常温,温差大
68,2018-03-10,14,-2,晴,东南风,1-2级,171,中度污染,4,14,-2,16,常温,温差大
69,2018-03-11,11,0,多云,南风,1-2级,81,良,2,11,0,11,常温,温差大
70,2018-03-12,15,3,多云~晴,南风,1-2级,174,中度污染,4,15,3,12,常温,温差大
71,2018-03-13,17,5,晴~多云,南风,1-2级,287,重度污染,5,17,5,12,常温,温差大
72,2018-03-14,15,6,多云~阴,东北风,1-2级,293,重度污染,5,15,6,9,常温,温差正常
73,2018-03-15,12,-1,多云~晴,东北风,3-4级,70,良,2,12,-1,13,常温,温差大
74,2018-03-16,10,-1,多云,南风,1-2级,58,良,2,10,-1,11,常温,温差大
75,2018-03-17,4,0,小雨~阴,南风,1-2级,81,良,2,4,0,4,常温,温差正常
76,2018-03-18,13,1,多云~晴,西南风,1-2级,134,轻度污染,3,13,1,12,常温,温差大
77,2018-03-19,13,2,多云,东风,1-2级,107,轻度污染,3,13,2,11,常温,温差大
78,2018-03-20,10,-2,多云,南风,1-2级,41,优,1,10,-2,12,常温,温差大
79,2018-03-21,11,1,多云,西南风,1-2级,76,良,2,11,1,10,常温,1
80,2018-03-22,17,4,晴~多云,西南风,1-2级,112,轻度污染,3,17,4,13,常温,温差大
81,2018-03-23,18,5,多云,北风,1-2级,146,轻度污染,3,18,5,13,常温,温差大
82,2018-03-24,22,5,晴,西南风,1-2级,119,轻度污染,3,22,5,17,常温,温差大
83,2018-03-25,24,7,晴,南风,1-2级,78,良,2,24,7,17,常温,温差大
84,2018-03-26,25,7,多云,西南风,1-2级,151,中度污染,4,25,7,18,常温,温差大
85,2018-03-27,27,11,晴,南风,1-2级,243,重度污染,5,27,11,16,常温,温差大
86,2018-03-28,25,9,多云~晴,东风,1-2级,387,严重污染,6,25,9,16,常温,温差大
87,2018-03-29,19,7,晴,南风,1-2级,119,轻度污染,3,19,7,12,常温,温差大
88,2018-03-30,18,8,多云,南风,1-2级,68,良,2,18,8,10,常温,1
89,2018-03-31,23,9,多云~晴,南风,1-2级,125,轻度污染,3,23,9,14,常温,温差大

In [58]:
# head(),tail()什么不写默认查看5条

In [59]:
df1.head(3)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,温差类型
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温,温差正常
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温,温差正常
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温,温差正常

In [60]:
df1.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,温差类型
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,3,-6,9,常温,温差正常
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,2,-5,7,常温,温差正常
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,2,-5,7,常温,温差正常
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,0,-8,8,常温,温差正常
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,3,-6,9,常温,温差正常

In [61]:
df1.tail()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,最高温,最低温,温差,温度类型,温差类型
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,-5,-12,7,低温,温差正常
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,-3,-11,8,低温,温差正常
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,-3,-12,9,低温,温差正常
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,-2,-11,9,低温,温差正常
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,-2,-10,8,常温,温差正常

 # 缺失值处理

In [62]:
# skiprows()去掉空白的两行

In [63]:
df2 = pd.read_excel('./data/缼失值处理.xlsx',skiprows= 2)
df2

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [64]:
# isnull()和notnull()检测都哪些为空，isnull空的为True否则为False；notnull不空的为True否则为False，同时可用于Series和DataFrame

In [65]:
df2.isnull()

    Unnamed: 0     姓名     科目     分数
0         True  False  False  False
1         True   True  False  False
2         True   True  False  False
3         True   True   True   True
4         True  False  False  False
5         True   True  False   True
6         True   True  False  False
7         True   True   True   True
8         True  False  False  False
9         True   True  False  False
10        True   True  False  False

In [66]:
df2.notnull()

    Unnamed: 0     姓名     科目     分数
0        False   True   True   True
1        False  False   True   True
2        False  False   True   True
3        False  False  False  False
4        False   True   True   True
5        False  False   True  False
6        False  False   True   True
7        False  False  False  False
8        False   True   True   True
9        False  False   True   True
10       False  False   True   True

In [67]:
# 可以选择多值判断

In [68]:
df2['科目'].isnull()

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7      True
8     False
9     False
10    False
Name: 科目, dtype: bool

In [69]:
df2[['科目','分数']].isnull()

       科目     分数
0   False  False
1   False  False
2   False  False
3    True   True
4   False  False
5   False   True
6   False  False
7    True   True
8   False  False
9   False  False
10  False  False

In [70]:
df2

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [71]:
# dropna(axis = ('轴的方向'))用来清理数据，轴的方向还可以用index（索引值来代替）

In [72]:
df2.dropna(axis = 0,how = 'all')

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
5          NaN  NaN  数学   NaN
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [73]:
df2 # 彻底清除需要使用inplace = True

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [74]:
# 彻底清除

In [75]:
df2.dropna(axis = 0,how = 'all',inplace = True)

In [76]:
df2

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
5          NaN  NaN  数学   NaN
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [77]:
df2.dropna(axis = 1,how = 'all')

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [78]:
# 彻底清除

In [79]:
df2.dropna(axis = 1,how = 'all',inplace = True)

In [80]:
df2

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

## 空值填充

In [81]:
# 使用字典的方式进行填充把分数为空的数据填充为0

In [82]:
df2.fillna({'分数':0})

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [83]:
# 使用前面的名字向下填充

In [84]:
df2['姓名'].fillna(method = 'ffill')

0     小明
1     小明
2     小明
4     小王
5     小王
6     小王
8     小刚
9     小刚
10    小刚
Name: 姓名, dtype: object

In [85]:
# 使用后面的名字进行向上填充

In [86]:
df2['姓名'].fillna(method = 'bfill')

0      小明
1      小王
2      小王
4      小王
5      小刚
6      小刚
8      小刚
9     NaN
10    NaN
Name: 姓名, dtype: object

In [87]:
# 慎用

In [88]:
df2.dropna(axis = 0,how = 'any')

   姓名  科目    分数
0  小明  语文  85.0
4  小王  语文  85.0
8  小刚  语文  85.0

# 去重处理

In [89]:
import pandas as pd

In [90]:
df3 = pd.DataFrame({'A':[1,1,1,2,2,3,1],'B':list('aabbbca')})
df3

   A  B
0  1  a
1  1  a
2  1  b
3  2  b
4  2  b
5  3  c
6  1  a

In [91]:
# 判断是否重复

In [92]:
df3.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [93]:
# 判断有几条重复的

In [94]:
df3.duplicated().sum()

3

In [95]:
# 删除重复行,duplicates需要加s

In [96]:
df3.drop_duplicates()

   A  B
0  1  a
2  1  b
3  2  b
5  3  c

In [97]:
# 按列去重

In [98]:
df3.drop_duplicates(['A'])

   A  B
0  1  a
3  2  b
5  3  c

In [99]:
df3.drop_duplicates(['B'])

   A  B
0  1  a
2  1  b
5  3  c

In [100]:
# 保留一个

In [101]:
# 'last'按最后一个保留

In [102]:
df3.drop_duplicates(keep = 'last')

   A  B
2  1  b
4  2  b
5  3  c
6  1  a

In [103]:
# 按第一个进行保留

In [104]:
df3.drop_duplicates(keep = 'first')

   A  B
0  1  a
2  1  b
3  2  b
5  3  c

# Pandas数据排序

In [105]:
df4 = pd.read_excel('./data/saleinfo_month.xls')
df4

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [106]:
df4['carprice'].sort_values()# 升序

1037     4
426      4
750      4
755      4
1023     4
        ..
777     61
1745    61
1345    61
7       61
316     61
Name: carprice, Length: 1867, dtype: int64

In [107]:
df4['carprice'].sort_values(ascending = False)#降序

1745    61
1205    61
1345    61
919     61
1484    61
        ..
733      4
1320     4
1166     4
445      4
114      4
Name: carprice, Length: 1867, dtype: int64

In [108]:
# ascending 不写默认为升序，False为降序

In [109]:
df4.sort_values(by = 'carprice',ascending = False)

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.00
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.00
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.00
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.00
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.00
...,...,...,...,...,...,...,...,...,...,...,...
733,自主,比亚迪汽车,轿车,比亚迪,F0,微型,4,201909,849,3396,815.04
1320,自主,奇瑞汽车,轿车,奇瑞,QQ,紧凑,4,201905,2060,8240,1400.80
1166,自主,比亚迪汽车,轿车,比亚迪,F0,微型,4,201906,968,3872,503.36
445,自主,奇瑞汽车,轿车,奇瑞,QQ,紧凑,4,201911,1569,6276,1820.04
114,自主,比亚迪汽车,轿车,比亚迪,F0,微型,4,202001,829,3316,895.32

In [110]:
# 销售价格降序，销售额升序

In [111]:
df4.sort_values(by = ['carprice','quantity'],ascending = [False,True])

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
...,...,...,...,...,...,...,...,...,...,...,...
755,自主,上汽通用五菱,轿车,宝骏,宝骏310,小型,4,201909,5310,21240,2336.4
605,自主,上汽通用五菱,轿车,宝骏,宝骏310,小型,4,201910,11809,47236,9447.2
450,自主,上汽通用五菱,轿车,宝骏,宝骏310,小型,4,201911,15006,60024,15006.0
294,自主,上汽通用五菱,轿车,宝骏,宝骏310,小型,4,201912,17896,71584,12169.3
138,自主,上汽通用五菱,轿车,宝骏,宝骏310,小型,4,202001,18006,72024,15845.3

## 轴

In [112]:
import numpy as np

In [113]:
df5 = pd.DataFrame(
    np.arange(12).reshape(3,4),columns=['A','B','C','D']

)
df5

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [114]:
# columns是列 如ABCD这四列 index是索引如012这三个索引

In [115]:
# 纵向（列）删除

In [116]:
df5.drop('A',axis = 'columns')

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [117]:
# 纵向（列删除）

In [118]:
df5.drop('A',axis = 1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [119]:
# 横向删除

In [120]:
df5.drop(1,axis = 'index')

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

In [121]:
# 横向删除

In [122]:
df5.drop(1,axis = 0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

In [123]:
# 横向平均值

In [124]:
df5.mean(axis = 1)

0    1.5
1    5.5
2    9.5
dtype: float64

In [125]:
# 纵向（列）平均值

In [126]:
df5.mean(axis = 0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

# inner left right outer

In [127]:
female = pd.read_excel('./data/female.xlsx')
female

    姓名 配偶
0   空姐  B
1   大S  C
2   阿娇  D
3   柏芝  D
4  林黛玉  E
5   宝钗  F

In [128]:
male = pd.read_excel('./data/male.xlsx')
male

    姓名 配偶
0   屌丝  A
1   李四  B
2   王五  C
3  高富帅  D
4   郑七  E

In [129]:
# inner 内连接  带家人的连接

In [130]:
male.merge(female,how = 'inner',on = '配偶')

  姓名_x 配偶 姓名_y
0   李四  B   空姐
1   王五  C   大S
2  高富帅  D   阿娇
3  高富帅  D   柏芝
4   郑七  E  林黛玉

In [131]:
# left right 所有男士上台来，有配偶的带上来，无配偶的举个牌（null），左边的都上来

In [132]:
male.merge(female,how = 'left',on = '配偶')

  姓名_x 配偶 姓名_y
0   屌丝  A  NaN
1   李四  B   空姐
2   王五  C   大S
3  高富帅  D   阿娇
4  高富帅  D   柏芝
5   郑七  E  林黛玉

In [133]:
male.merge(female,how = 'right',on = '配偶')

  姓名_x 配偶 姓名_y
0   李四  B   空姐
1   王五  C   大S
2  高富帅  D   阿娇
3  高富帅  D   柏芝
4   郑七  E  林黛玉
5  NaN  F   宝钗

In [134]:
# outer 全连接 所有人都上台来，无配偶举个牌null

In [135]:
male.merge(female,how = 'outer',on = '配偶')

  姓名_x 配偶 姓名_y
0   屌丝  A  NaN
1   李四  B   空姐
2   王五  C   大S
3  高富帅  D   阿娇
4  高富帅  D   柏芝
5   郑七  E  林黛玉
6  NaN  F   宝钗

# 万能公式

In [136]:
pd.merge(male,female,on = '配偶',how = 'inner')

  姓名_x 配偶 姓名_y
0   李四  B   空姐
1   王五  C   大S
2  高富帅  D   阿娇
3  高富帅  D   柏芝
4   郑七  E  林黛玉

In [137]:
pd.merge(male,female,on = '配偶',how = 'right')

  姓名_x 配偶 姓名_y
0   李四  B   空姐
1   王五  C   大S
2  高富帅  D   阿娇
3  高富帅  D   柏芝
4   郑七  E  林黛玉
5  NaN  F   宝钗

In [138]:
pd.merge(male,female,on = '配偶',how = 'outer')

  姓名_x 配偶 姓名_y
0   屌丝  A  NaN
1   李四  B   空姐
2   王五  C   大S
3  高富帅  D   阿娇
4  高富帅  D   柏芝
5   郑七  E  林黛玉
6  NaN  F   宝钗

# 分组聚合

In [139]:
df6 = pd.read_excel('./data/group.xlsx')
df6

  company  salary  age
0       C      43   35
1       C      17   25
2       C       8   30
3       A      20   22
4       B      10   17
5       B      21   40
6       A      23   33
7       C      49   19
8       B       8   30

In [140]:
group = df6.groupby('company')

In [141]:
list(group)

[('A',
    company  salary  age
  3       A      20   22
  6       A      23   33),
 ('B',
    company  salary  age
  4       B      10   17
  5       B      21   40
  8       B       8   30),
 ('C',
    company  salary  age
  0       C      43   35
  1       C      17   25
  2       C       8   30
  7       C      49   19)]

In [142]:
df6.groupby('company').agg('mean')

         salary    age
company
A         21.50  27.50
B         13.00  29.00
C         29.25  27.25

In [143]:
df6.groupby('company').agg('max')

         salary  age
company
A            23   33
B            21   40
C            49   35

In [144]:
df6.groupby('company').agg({'salary':'max','age':'min'})

         salary  age
company
A            23   22
B            21   17
C            49   19

In [145]:
df6 = pd.read_excel('./data/member.xlsx')
df6

  userid  age
0      a   23
1      b   46
2      c   32
3      d   19

In [146]:
df7 = pd.read_excel('./data/sale.xlsx')
df7

  userid  payment
0      a     2000
1      c     3500

In [147]:
pd.merge(df6,df7,how = 'inner',on = 'userid')

  userid  age  payment
0      a   23     2000
1      c   32     3500

In [148]:
pd.merge(df6,df7,how = 'outer',on = 'userid').groupby('userid').agg({'payment':'sum'})

        payment
userid
a        2000.0
b           0.0
c        3500.0
d           0.0