In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns = ['A','B','C','D']
)
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [3]:
df.mean(axis = 0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [4]:
df1 = pd.DataFrame(np.arange(0,16).reshape(4,4),columns = ['A','B','C','D'])
df1

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df2 = pd.DataFrame(np.arange(17,33).reshape(4,4),columns = ['A','B','C','D'])
df2

    A   B   C   D
0  17  18  19  20
1  21  22  23  24
2  25  26  27  28
3  29  30  31  32

In [6]:
pd.concat([df1,df2]).reset_index()

   index   A   B   C   D
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15
4      0  17  18  19  20
5      1  21  22  23  24
6      2  25  26  27  28
7      3  29  30  31  32

In [7]:
pd.concat([df1,df2],axis = 'columns')

    A   B   C   D   A   B   C   D
0   0   1   2   3  17  18  19  20
1   4   5   6   7  21  22  23  24
2   8   9  10  11  25  26  27  28
3  12  13  14  15  29  30  31  32

In [8]:
df1

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
df3 = pd.read_excel('./2024-11.2/data/saleinfo_month.xls')
df3

FileNotFoundError: [Errno 2] No such file or directory: './2024-11.2/data/saleinfo_month.xls'

In [ ]:
df3['av_price'] = df3.groupby('series')['carprice'].transform('mean')
df3

In [10]:
pip install jupyter-ai

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Note: you may need to restart the kernel to use updated packages.

ERROR: Exception:
Traceback (most recent call last):
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\cli\base_command.py", line 173, in _main
    status = self.run(options, args)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\cli\req_command.py", line 203, in wrapper
    return func(self, options, args)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\commands\install.py", line 315, in run
    requirement_set = resolver.resolve(
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\resolver.py", line 94, in resolve
    result = self._result = resolver.resolve(
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 472, in resolve
    state = resolution.resolve(requirements, max_rounds=max_rounds)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 341, in resolve
    self._add_to_criteria(self.state.criteria, r, parent=None)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 172, in _add_to_criteria
    if not criterion.candidates:
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\resolvelib\structs.py", line 151, in __bool__
    return bool(self._sequence)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 140, in __bool__
    return any(self)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 128, in <genexpr>
    return (c for c in iterator if id(c) not in self._incompatible_ids)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 29, in _iter_built
    for version, func in infos:
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\factory.py", line 272, in iter_index_candidate_infos
    result = self._finder.find_best_candidate(
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\index\package_finder.py", line 851, in find_best_candidate
    candidates = self.find_all_candidates(project_name)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\index\package_finder.py", line 798, in find_all_candidates
    page_candidates = list(page_candidates_it)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\index\sources.py", line 134, in page_candidates
    yield from self._candidates_from_page(self._link)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\index\package_finder.py", line 758, in process_project_url
    html_page = self._link_collector.fetch_page(project_url)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\index\collector.py", line 490, in fetch_page
    return _get_html_page(location, session=self.session)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\index\collector.py", line 400, in _get_html_page
    resp = _get_html_response(url, session=session)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\index\collector.py", line 115, in _get_html_response
    resp = session.get(
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\requests\sessions.py", line 555, in get
    return self.request('GET', url, **kwargs)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_internal\network\session.py", line 454, in request
    return super().request(method, url, *args, **kwargs)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\requests\sessions.py", line 542, in request
    resp = self.send(prep, **send_kwargs)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\requests\sessions.py", line 655, in send
    r = adapter.send(request, **kwargs)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\cachecontrol\adapter.py", line 53, in send
    resp = super(CacheControlAdapter, self).send(request, **kw)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\requests\adapters.py", line 439, in send
    resp = conn.urlopen(
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\urllib3\connectionpool.py", line 696, in urlopen
    self._prepare_proxy(conn)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\urllib3\connectionpool.py", line 964, in _prepare_proxy
    conn.connect()
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\urllib3\connection.py", line 359, in connect
    conn = self._connect_tls_proxy(hostname, conn)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\urllib3\connection.py", line 500, in _connect_tls_proxy
    return ssl_wrap_socket(
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\urllib3\util\ssl_.py", line 453, in ssl_wrap_socket
    ssl_sock = _ssl_wrap_socket_impl(sock, context, tls_in_tls)
  File "D:\ST\STProgramfiles\Anaconda3\lib\site-packages\pip\_vendor\urllib3\util\ssl_.py", line 495, in _ssl_wrap_socket_impl
    return ssl_context.wrap_socket(sock)
  File "D:\ST\STProgramfiles\Anaconda3\lib\ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "D:\ST\STProgramfiles\Anaconda3\lib\ssl.py", line 997, in _create
    raise ValueError("check_hostname requires server_hostname")
ValueError: check_hostname requires server_hostname